In [17]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [2]:
iris = pd.read_csv("Iris.csv")

In [3]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [4]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [6]:
# There are no null values.

In [7]:
# Now splitting the dataset. There are 4 dependent variables or features(SepalLengthCm,SepalWidthCm,PetalLengthCm andPet alWidthCm) 
# and one independent/target (Species) variable.

In [14]:
y=iris['Species'] 
X=iris.drop(['Species'], axis=1)

In [23]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3, random_state=1)

In [42]:
def run_classifiers(X_train: pd.DataFrame , y_train: pd.DataFrame):#, X_test: pd.DataFrame, y_test: pd.DataFrame):
    
    df = pd.DataFrame(columns=['Model', 'Accuracy']) 
    models = [
            ('LogReg', LogisticRegression()), 
            ('RF', RandomForestClassifier()),
            
    ]
        
    
    for name, model in models:
        
        clf = model
        clf.fit(X_train, y_train)
        y_hat = clf.predict(X_test)
        accuracy=accuracy_score(y_true = y_test, y_pred = y_hat)
        
        df = df.append({'Model': name, 'Accuracy': accuracy}, ignore_index = True)
        
    return df.sort_values(by=['Accuracy'], ascending=False)

run_classifiers(X_train,y_train)

    Model  Accuracy
1      RF  1.000000
0  LogReg  0.973684